<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WEB TERROR</title>

	<script src="libs/jquery/dist/jquery.min.js"></script>
	<script src="libs/raphael/raphael-min.js"></script>
	<script src="build/webterror.js"></script>
	<link rel="stylesheet" href="build/webterror.css">
	<!-- 
	<script src="javascripts/main.js"></script>
	<script src="javascripts/error-screen.js"></script>
	<script src="javascripts/raphael-scripts.js"></script> 
	
	<link rel="stylesheet" href="stylesheets/main.css">
	<link rel="stylesheet" href="libs/lato/css/lato.css">
	<link rel="stylesheet" href="stylesheets/build/glitch.css">
	-->
</head>
<body>
	<div class="wrapper">
		<div class="title center">
			<p class="web"
			   data-glitch="WEB">WEB</p>
			<p class="terror" 
			   data-glitch="TERROR">TERROR</p>
		</div>
	</div>
	<div class="main-scene">
		<div class="main-view-wtlabel">WEB TERROR</div>
		<div class="main-view-contacts">
			<span class="phone">+31 206401537</span>
			<span class="mail">support@web-terror.com</span>
		</div>
	</div>
</body>
</html>