<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Studio WEB TERROR</title>
	<meta name='yandex-verification' content='49763d71d759ae25' />
	<link rel="stylesheet" href="libs/OpenSans/open-sans-cyrillic/web fonts/opensans_extrabold_cyrillic/stylesheet.css">
	<link rel="stylesheet" href="libs/OpenSans/open-sans-cyrillic/web fonts/opensans_regular_cyrillic/stylesheet.css">
	<link rel="stylesheet" href="libs/OpenSans/open-sans-cyrillic/web fonts/opensans_light_cyrillic/stylesheet.css">
	<link rel="stylesheet" href="libs/OpenSans/open-sans-english/web fonts/opensans_extrabold_english/stylesheet.css">

	<link rel="stylesheet" href="build/webterror.css">
</head>
<body>
	<div class="opl"><a href="http://onepagelove.com/web-terror" target="_blank">Web Terror</a></div>

	<div class="wrapper">
		<div class="title center">
			<p class="web"
			   data-glitch="WEB">WEB</p>
			<p class="terror" 
			   data-glitch="TERROR">TERROR</p>
		</div>
	</div>
	<div class="main-scene">
		<div class="main-view-wtlabel">WEB TERROR</div>
		<div class="main-view-contacts">
			<span class="phone">+7 909 6952723</span>
			<span class="mail">hello@web-terror.com</span>
		</div>
	</div>

	<script src="libs/jquery/dist/jquery.min.js"></script>
	<script src="libs/raphael/raphael-min.js"></script>
	<script src="build/webterror.js"></script>

	<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter27477693 = new Ya.Metrika({id:27477693, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/27477693" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58048362-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>